__pycache__/
.cache/
.tox/
.idea/
.env/
.env_satcfe/
.pytest_cache/

/build/
/dist/
/*.egg-info/
/*.eggs/
/docs/_build/

.coverage

*.pyc
*.pyo
*.pyd
*.sublime-workspace

tests/mockup/libmockupsat.so
tests/mockup/mockupsat.o
